*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;}
#main{
    height:100%;
    width:100%;
    background-color: black;
}
#navbar{
    height:60px;
    width:100%;
    background-color: #333;
    align-content: center;
    justify-content: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
}
#fake{
    height:20%;
    width:100%;
}
#logo {
    height: 100px;               
    display: flex;
    align-items: center;
    margin-top: -1%;
    margin-left: 3.5%;
}
#logo img{
    height: auto;
    width: 9vw;
    margin-top: -5%;
}
#search-bar{
    width: 30%;
    height: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    font-size: 16px;
    margin-top: 15px;
    background-color: grey;
    margin-left: auto;
}
::placeholder{
        color:rgb(86, 76, 76);
    }
#search-bar:hover{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);    /*here box shadow : X-offset Y-offset Blur-radius Color*/
    border: 1px solid rgba(81, 203, 238, 1);
    transition: 0.3s;
}

#Search{
    
    background-color: grey;
    width: 2%;
    height: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    align-content: center;
    margin-right: 15vh;

    margin-top: 15px;
}
#menu{
    display: flex;
    align-items: center;
    gap: 4vw;
    margin-right: 5%;
}
.Menu-effect:hover{
    color:rgb(42, 124, 211);
    font-size: larger;
    font-weight: 600;

}
#logo:hover{
    transform: scale(1.2);
    filter: drop-shadow(0px 0px -1px);
}
#bar i{
    display: none;
    font-size: 4vw;
}
@media (max-width: 768px){
    #menu{
        display: none;
    }
    #bar i{
        display: block;
        margin-top: 20px;
        margin-right: 5vw;  
    }
    #Search{
        width: auto;
    }
    
    
}
.page1{
    height: 100vh;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1531297484001-80022131f5a1?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cG9ydGZvbGlvJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D");
    background-size: cover;
    background-position: center;
}
.hero-text {
    color: white;
    text-align: center;
    position: absolute;
    margin-left:30vw;
    margin-top: -1vw;
}

.hero-text h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3vw;
    font-weight: 600;
}

.hero-text h1 span {
    font-family: 'Montserrat', sans-serif;
    color: cyan;          
    font-weight: 800;
}

.hero-text p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vw;
    color: #ddd;
}
.page2{
    height:100%;
    width:100%;
    background-color: black;
}